body {
    text-align: center;
    background-image: url("images/background.png");
    margin: 0px
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    
}

.sectionTitle h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: Raleway-SemiBold;
    font-size: 50px;
}

h1 {
    color: white;
}

a {
    size:100px;
}

.btn {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    cursor:pointer;
    margin-bottom: 20px;
}



.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
  line-height: 40px;
  
  border: 2px solid white;
  border-radius: 40px;
  background: green;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: #36AE7C;
  border: 2px solid #36AE7C;
}

.btn-default:active {
    color: white !important;
    background-color: green !important;
    border-color: green !important;
    
}

a:hover{
    background-color: pink;
    border-left: 1000px
    
}
.logo {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 100px
}

.container-fluid {
    /* padding: 3% 10% 7%; */

    padding-left: 2%
}

.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 16px;
  float: left;
}

.card h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.card img {
height: 240px;
    
}


.FooterContent {
    padding-top: 100%;
    bottom: 10px;
    height: 5%;
}

footer {
    
    padding: 10px 10px 10px 10px;
    bottom: 0%;
    width: 100%;
    /* Height of the footer*/ 
    height: 10%;
    background: grey;
}

#All {
    background-color: green;
}